
        @media only screen and (max-width:1106px) {
            .navbar {
                flex-direction: column;
            
            }

            .nav-list {
                flex-direction: column;
            }

            .nav-list li {
                padding: 25px;
            }

            .logo img {
                width: 60%;
            }

            .right-nav {
                flex-direction: column;

            }

            .right-nav .btn-sm {
                width: 42%;
                margin: 10px;
            }

            .burger {
                display: block;
                cursor: pointer;
            }
            .burger .line{
                cursor: pointer;
            }

            .h-nav {
                height: 57px;
            }

            .v-class {
                opacity: 0;
            }

            .first {
                height: 120vh;
            }

            .first-right {
                display: flex;
                width: 150px;
                height: 148px;
            }

            .first-right img {
                border-radius: 203px;
                border: 3px solid white;
                width: 100%;
                height: 100%;
            }

            .firstone {
                flex-direction: column-reverse;
                margin-top: 50px;
                height: 136%;
            }

            .first-left {
                width: 76%;
            }

            .text-sm {
                text-align: -webkit-center;
            }

            .text-big {

                text-align: center;
            }

            .buttons {
                /* background-color: aqua; */
                /* padding-left: 61px; */
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 16px;
            }

            .btn {
                /* width100%; */
                margin: 0;
            }

            .head-top {
                text-align: center;
            }

            .second {
                /* background-color: chartreuse; */
                height: 190vh;
                width: 100%;
            }

            .head-bottom {
                /* background-color: black; */
                height: 70%;
                width: 100%;
                display: block;
            }

            .head-top {

                height: 17%;

            }

            .block1 {
                width: 83%;
                height: 35%;
                margin-top: 13px;
            }

            .big-heading {
                font-weight: bolder;
                font-size: 30px;
                margin-top: 10px;
            }

            .sm-heading {
                height: 60%;
            }

            .third {
                height: 235vh;
            }

            .head3-top {
                height: 15%;
                text-align: center;
            }

            .head3-bottom {
                height: 85%;
                display: block;
                text-align: center;
            }

            .block3 {
                height: 27%;
                width: 93%;
                padding-top: 41px;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-left: 14px;
            }

            .block3 img {
                width: 92%;

            }

            .forth {
                height: 320vh;
            }

            .head4-top {
                height: 10%;
                text-align: center;
            }

            .head4-bottom {
                height: 90%;
                display: block;
            }

            .block4 {
                height: 30%;
                width: 93%;
                padding-top: 41px;
                align-items: center;
                justify-content: center;
                display: block;
                margin-left: 14px;
                /* margin: 0; */
            }

            .block4 img {
                width: 92%;

            }

            .head4-bottom {
                display: block;
                text-align: center;
            }

            .bottom4 {
                height: 38%;
            }

            .bottom4 .upper4 {
                font-weight: bolder;
                font-size: 23px;

            }

            .fifth {
                height: 210vh;
            }

            .head5-top {
                height: 20%;
                text-align: center;
            }

            .sm-head5 {
                padding: 10px;
            }

            .head5-bottom {
                height: 85%;
                display: block;
                text-align: center;
                padding-top: 30px;
            }

            .block5 {
                width: 85%;
                height: 40%;
                flex-direction: column;
                padding-top: 15px;
                /* padding-left: 0; */
                margin-top: 30px;

            }

            .left5 {
                width: 64px;
                height: 64px;
                /* flex-direction: column; */
            }

            .left5 img {
                width: 85%;
                height: 88%;
            }

            .right5 {
                width: 92%;
                height: 75%;
                padding-top: 20px;
            }

            .right5 .rating {
                height: 35%;
                padding-top: 23px;
            }

            .star {
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }

            .sixth {
                width: 100%;
                height: 163vh;
                /* background-color: red; */
            }

            .head6-bottom {
                height: 57%;
            }

            .head6-bottom .box6-bottom {
                /* display: inline; */
                text-align: center;
                display: block;
                height: 24%;
                padding-top: 25px;
            }


            .img-background {
                height: 41%;
            }

            .block6-top {
                height: 85%;
            }

            .block6-top .top6 {
                font-size: 33px;
            }

            .btn6 {
                width: 117px;
                height: 33px;
            }

            .head6-bottom .box6-upper {
                height: 23%;

            }

            .box6-img img {
                width: 44px;
                height: 44px;
    
            }

            .box6-img {
                height: 35%;
            }

            .footer {
                height: 70px;
                text-align: center;
            }
        }